<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uverifier">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_verifier_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_verifier_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uverifier">
        <activity
            android:name=".VidResponse"
            android:exported="false" />
        <activity
            android:name=".VidScreen"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".CapchaActivity"
            android:exported="false" />
        <activity
            android:name=".FirstSignActivity"
            android:exported="false" />
        <activity
            android:name=".EnterOtp"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>